.basic {
  height: 100%;
  padding: 20px;
}

.basic h1 {
  margin: 0;
  font-family: inherit;
  font-size: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: normal;
}

.basic p {
  margin: 0;
  font-family: inherit;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.basic .basic-icon {
  width: 150px;
  height: 150px;
}

.basic-icon a {
  width: 100%;
  height: 100%;
}
