.basic * {
  box-sizing: border-box;
  display: block;
}

.basic {
  position: relative;
  font-size: 1.2em;
  color: #fff;
}

.basic .basic-container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-top: 150px;
  padding-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.basic-container div {
  display: inline-block;
  vertical-align: bottom;
}

.basic-container .basic-icon {
  width: 170px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.basic-icon span {
  width: 150px;
  height: 150px;
  background: url('../images/me.png');
  background-size: 150px 150px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  border: 75px solid #1AB5FF;
}

.basic-container .basic-info {
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.basic-info p {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  opacity: 0;
}

.basic-info p:nth-child(1) {
  font-size: 1.5em;
}

.basic-info p:nth-child(2) {
  font-size: 1.5em
}

.basic-info .basic-item {
  display: block;
}

.basic-info .basic-item label,
.basic-info .basic-item span {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  opacity: 0;
}

.basic-info .basic-item label {
}

.basic-info .basic-item span {
}

.basic-container .basic-decript {
  position: relative;
  display: block;
}

@media (min-width: 1500px) {
  .basic .basic-container {
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .basic .basic-container {
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .basic .basic-container {
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .basic .basic-container {
  }
}

@media (min-width: 768px) {

}
