.basic * {
  box-sizing: border-box;
}

.basic {
  position: relative;
  height: 100%;
  padding: 10px;
}

.basic .basic-content {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  height: 100%;
}

.basic-content .basic-icon {
  position: relative;
  display: block;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.basic-icon span {
  width: 150px;
  height: 150px;
  background: url('../images/logo.jpg');
  background-size: 150px 150px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 75px;
  -webkit-border-radius: 75px;
}

.basic-content .basic-info {
  position: relative;
  display: block;
  vertical-align: top;
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.basic-info p {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}

.basic-info p:first-child {
  font-size: 1.5em;
}

.basic-info .basic-item label,
.basic-info .basic-item span {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}

.basic-content .basic-decript {
  position: relative;
  display: block;
}

@media (min-width: 1500px) {
  .basic .basic-content {
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .basic .basic-content {
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .basic .basic-content {
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .basic .basic-content {
  }
}

@media (min-width: 768px) {

}
